body {
    background-image:url("Untitled.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top right;

}

#cv{
    color: azure;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Secular One', sans-serif;
    background-color: rgba(50,50,50,0.3);
    font-size: 80%;
}

.numberLink{
    color: azure;
}

#contactInfo{
    color: azure;
    background-color: rgba(50,50,50,0.3);
    border-top-style: double;
    border-top-color: dodgerblue;
    border-bottom-style: double;
    border-bottom-color: dodgerblue;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 200%;
    max-width: 70%;
}

h1 {
    font-size: 700%;
    max-width: 70%;
    color: dodgerblue;
    font-family: 'David CLM', serif;
    text-align: center;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    
}


.h2{
    color: rgba(30, 144, 255, 0.7);
    background-color: rgba(34, 34, 34, 0.4);
    text-align: center;
    font-size: 400%;
    text-decoration: underline;
    border: solid;
    border-color: dodgerblue;
}

h3 {
    text-align: right;
    font-size: 250%;
}

h4 {
    font-size: 200%;
    font-weight: bold;
}

dt.listDescription{
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 10px;
}

ul.workHistory{
    
    list-style-position:inside;
}

ul.workHistory li{
    margin-right: 10%;
}

dd{
    font-size: 150%;
    padding-bottom: 5%;
    padding-top: 2%;
}
li {
    font-size: larger;
}

.linkBar{
    position: fixed;
    background-color: rgba(50,50,50,0.8);
    width: 100%;
    bottom: 0;
}
